<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5">
      <div class="col-lg-4 mb-3">
        <mat-icon class="icon"></mat-icon>
      </div>
  
      <div class="col-sm-4 mb-3">
        <h5 class="title">Nuestros productos</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2 textContainer"><a href="#" class="nav-link p-0 text-muted">Arrendamiento de auto</a></li>
          <li class="nav-item mb-2 textContainer"><a href="#" class="nav-link p-0 text-muted">Arrendamiento de equipo médico</a></li>
          <li class="nav-item mb-2 textContainer"><a href="#" class="nav-link p-0 text-muted">Linea de arrendamiento</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5 class="title">La compañia</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2 textContainer"><a href="#" class="nav-link p-0 text-muted">Nosotros</a></li>
          <li class="nav-item mb-2 textContainer"><a href="#" class="nav-link p-0 text-muted">Contáctenos</a></li>
          <li class="nav-item mb-2 textContainer"><a href="#" class="nav-link p-0 text-muted">Soy cliente</a></li>
          <li class="nav-item mb-2 textContainer"><a href="#" class="nav-link p-0 text-muted">Únete a nuestro equipo</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5 class="title">Recibe nuestras promociones</h5>
      </div>
    </footer>
  </div>