@import '../../../assets/scss/fonts.scss';

.container {
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 24%, rgba(172,104,255,1) 40%, rgba(80,88,252,0.6839110644257703) 50%, rgba(65,141,255,0.6755077030812324) 64%, rgba(255,255,255,1) 82%);
    width: 100% !important;

}

.title {
    font-family: $font-body-montserrat;
    font-weight: 700 !important;
    font-stretch: normal;
    font-style: normal;
    line-height: 6px;
}

.title-dark {
    font-family: $font-body-montserrat;
    font-weight: 700 !important;
    font-stretch: normal;
    font-style: normal;
    line-height: 6px;
    color: white !important;
}

.imgcar {
    background-image: url(../../../assets/img/cars.png);
    width: 100%;
    height: 100%;
}


@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }

    .resize {
        margin-left: 125px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    .resize {
        margin-left: 0px;
        width: 100%;
    }

    .space {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .resize {
        margin-left: 0px;
        width: 100%;
    }

    .space {
        margin-top: 20px;
    }
}

@media (max-width: 576px) {
    .resize {
        margin-left: 0px;
        width: 100%;
    }
    .space {
        margin-top: 20px;
    }
}
