<app-menu></app-menu>
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <span class="display-4 fw-bold lh-1 mb-3 title">Conduce el auto de tus sueños.</span>
      <p class="col-lg-10 fs-4 text-second">Tenemos para ti un plan de arrendamiento de auto seminuevo a precio
        preferencial con el máximo beneficio fiscal que la ley permite.</p>
      <img class="resize" src="../../../assets/img/cars.png" />
    </div>
    
    <div class="col-md-10 mx-auto col-lg-5">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-12 text-center text-lg-start space">
      <span class="display-4 fw-bold lh-1 mb-3 title-dark">Estrenar un auto nunca ha sido tan fácil</span>
      <p class="col-lg-10 mt-3 fs-4 text-dark">El arrendamiento de un seminuevo puede ser aún más valioso si puedes obtener
        el mejor acuerdo con el distribuidor. LeasingMD lleva a cabo esta negociación por ti, garantizándote el mejor
        acuerdo posible.</p>
    </div>
  </div>
</div>
<app-details></app-details>