<form [formGroup]="toCotizar" class="p-4 p-md-5 border rounded-3 bg-light text-center tablesize">
    <h2 class="subtitle">Solicita tu cotización</h2>

    <mat-form-field class="form-floating mb-3 size" appearance="outline" *ngIf="!change">
        <mat-label>Distribuidor</mat-label>
        <mat-select formControlName="Distribuidor" name="distribuidor">
            <mat-option></mat-option>
            <mat-option *ngFor="let obj of data" [value]="obj.id">
                {{obj.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="form-floating mb-3 size" appearance="outline" *ngIf="!change">
        <mat-label>Página del auto</mat-label>
        <input matInput formControlName="PageAuto" placeholder="Ingrese el stock ID o URL de la página del auto...">
    </mat-form-field>
    <mat-form-field class="form-floating mb-3 size" appearance="outline" *ngIf="!change">
        <mat-label>Tu nombre completo</mat-label>
        <input matInput formControlName="Nombre" type="text">
    </mat-form-field>
    <mat-form-field class="form-floating mb-3 size" appearance="outline" *ngIf="!change">
        <mat-label>Tu correo electrónico</mat-label>
        <input matInput formControlName="Correo" type="email">
    </mat-form-field>
    <br>
    <div class="d-inline-block mb-3" *ngIf="!change">
        <img class="iconinfo" src="../../../assets/img/info.svg"/><small class="text-muted text-second">Uno de nuestros ejecutivos preparará tu cotización y te la hará llegar a tu correo electrónico.</small>
    </div>
    <div class="d-inline-block mb-3 w-100" *ngIf="change">
        <span>¡Tu cotización está en camino!</span>
    </div>
    <button mat-button class="btnsize" (click)="sendValues()" *ngIf="!change">{{text}}</button>
    <button mat-button class="btnsize" *ngIf="change">Regresar</button>
</form>
