.icon {
    background-image: url(../../../assets/img/logo_test.svg);
    height: 28px;
    width: 229px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.navbar-nav {
    align-items: center;
}

.navbar-nav .nav-link.active {
    background: #3180F9;
    border-radius: 5px;
}