@import '../../../assets/scss/fonts.scss';

.icon {
    background-image: url(../../../assets/img/logo_test.svg);
    height: 28px;
    width: 229px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.btnC{
    background: #3180F9;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.navbar-nav {
    align-items: center;
}

.navbar-nav .nav-link.active {
    background: #3180F9;
    border-radius: 5px;
}

.text-second-active{
    font-family: $font-body-montserrat-light;
    letter-spacing: 2px;
    color: #fff !important;
}

ul li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

ul li:hover > ul {
    display:block;
}