<nav class="navbar navbar-expand-md mb-4">
    <div class="container-fluid">
        <mat-icon class="navbar-brand icon me-md-auto"></mat-icon>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link text-second" href="#">Productos de Arrendamiento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-second">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary py-2 text-second" aria-current="page" href="#">Contactanos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>